/**
 * INTERACTIVITY > Scroll Snap Align / Stop / Type
 *
 * ALIGN: Utilities for controlling the scroll snap alignment of an element.
 *  STOP: Utilities for controlling whether you can skip past possible snap
 *        positions.
 *  TYPE: Utilities for controlling how strictly snap points are enforced in a
 *        snap container.
 */

/// SCROLL SNAP ALIGN ///

$snap-align-values-map: (
  start:      start,
  end:        end,
  center:     center,
  align-none: none,
);

@each $label, $value in $snap-align-values-map {

  .snap-#{$label} {
    scroll-snap-align: $value;
  }

} // end @each

/// SCROLL SNAP STOP ///

$snap-stop-values: normal always;

@each $val in $snap-stop-values {

  .snap-#{$val} {
    scroll-snap-stop: $val;
  }

} // end @each

/// SCROLL SNAP TYPE ///

.snap-none {
  scroll-snap-type: none;
}

.snap-x {
  --scroll-snap-strictness: proximity;
  scroll-snap-type: x var(--scroll-snap-strictness);
}

.snap-y {
  --scroll-snap-strictness: proximity;
  scroll-snap-type: y var(--scroll-snap-strictness);
}

.snap-both {
  --scroll-snap-strictness: proximity;
  scroll-snap-type: both var(--scroll-snap-strictness);
}

.snap-mand,
.snap-mandatory {
  --scroll-snap-strictness: mandatory;
}

.snap-prox,
.snap-proximity {
  --scroll-snap-strictness: proximity;
}
