/**
 * INTERACTIVITY > Will Change
 *
 * Utilities for optimizing upcoming animations of elements that are expected to
 * change.
 */

$will-change-values-map: (
  auto:      auto,
  scroll:    scroll-position,
  contents:  contents,
  transform: transform,
);

@each $label, $value in $will-change-values-map {

  .wc-#{$label},
  .will-change-#{$label} {
    will-change: $value;
  }

} // end @each
