/**
 * FLEXBOX & GRID > Flex Wrap
 *
 * Utilities for controlling how flex items wrap.
 */

.fw-wrap,
.flex-wrap {
  flex-wrap: wrap;
}

.fw-reverse,
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.fw-nowrap,
.flex-nowrap {
  flex-wrap: nowrap;
}
