/**
 * FLEXBOX & GRID > Grid Auto Columns
 *
 * Utilities for controlling the size of implicitly-created grid columns.
 */

$grid-auto-rows-values: (
  auto: auto,
  min:  min-content,
  max:  max-content,
  fr:   minmax(0, 1fr),
);

@each $key, $val in $grid-auto-rows-values {

  .ga-rows-#{$key},
  .auto-rows-#{$key},
  .g-auto-rows-#{$key},
  .grid-auto-rows-#{$key} {
    grid-auto-rows: $val;
  }

} // end @each
