/**
 * FLEXBOX & GRID > Grid Auto Columns
 *
 * Utilities for controlling the size of implicitly-created grid columns.
 */

$grid-auto-cols-values: (
  auto: auto,
  min:  min-content,
  max:  max-content,
  fr:   minmax(0, 1fr),
);

@each $key, $val in $grid-auto-cols-values {

  .ga-cols-#{$key},
  .auto-cols-#{$key},
  .g-auto-cols-#{$key},
  .auto-columns-#{$key},
  .g-auto-columns-#{$key},
  .grid-auto-cols-#{$key},
  .grid-auto-columns-#{$key} {
    grid-auto-columns: $val;
  }

} // end @each
