// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Anek Kannada', sans-serif !default;

/// Code (monospace) font family
/// @type List
$mono-font-stack: 'Kode Mono', monospace !default;

/// Heading (display) font family
/// @type List
$heading-font-stack: 'Bree Serif', serif !default;

/// Header nav (display) font family
/// @type List
$featured-font-stack: 'Contrail One', display !default;


/// Body background color
/// @type Color
$body-bg-color: #222 !default;

/// Copy text color
/// @type Color
$text-color: #fff !default;

/// Main brand color
/// @type Color
$brand-color: #3cf !default;

/// Light grey
/// @type Color
$light-grey: #ededed !default;

/// Medium grey
/// @type Color
$med-grey: #999999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444444 !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
