/**
 * FILTERS > Grayscale
 *
 * Utilities for applying grayscale filters to an element.
 */

.gray-0,
.gray-no,
.no-gray,
.gray-off,
.gray-none,
.grayscale-0,
.grayscale-no,
.no-grayscale,
.grayscale-off,
.grayscale-none {
  filter: grayscale(0);
}

.gray-50,
.gray-half,
.grayscale-50,
.grayscale-half {
  filter: grayscale(50%);
}

.gray,
.gray-on,
.gray-100,
.gray-full,
.grayscale,
.grayscale-on,
.grayscale-100,
.grayscale-full {
  filter: grayscale(100%);
}
