/**
 * LAYOUT > Aspect Ratio
 *
 * Utilities for controlling the aspect ratio of an element.
 */

// Auto
.ar-auto,
.aspect-auto,
.aspect-ratio-auto {
  aspect-ratio: auto;
}

// Square (1:1)
.ar-sqr,
.ar-square
.aspect-square,
.aspect-1-1 {
  aspect-ratio: 1 / 1;
}

// Widescreen/Video (16:9)
.ar-wide,
.ar-video,
.aspect-wide,
.aspect-video,
.aspect-widescreen,
.aspect-ratio-wide,
.aspect-ratio-video,
.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
}

// Landscape (3:2)
.ar-land,
.ar-landscape,
.aspect-land,
.aspect-landscape,
.aspect-ratio-land,
.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
}
