/**
 * LAYOUT > Break After / Before / Inside
 *
 * Utilities for controlling how a column or page should break after, before, or
 * within an element.
 */

 $break-outside-values: auto avoid all avoid-page page left right column;
 @each $val in $break-outside-values {

  // For: .break-after-{value} / .ba-{value}
  .ba-#{$val},
  .break-after-#{$val} {
    break-after: $val;
  }

  // For: .break-before-{value} / .bb-{value}
  .bb-#{$val},
  .break-before-#{$val} {
    break-before: $val;
  }

} // end @each

$break-inside-values: auto avoid avoid-page avoid-column;
@each $val in $break-inside-values {

  // For: .break-inside-{value} / .bi-{value}
  .bi-#{$val},
  .break-inside-#{$val} {
    break-inside: $val;
  }

} // end @each
