/**
 * LAYOUT > Columns
 *
 * Utilities for controlling the number of columns within an element
 */

// For: .cols-auto
.cols-auto {
  columns: auto;
}

// For: .cols-{num}
@for $num from 1 through 16 {

  .cols-#{$num} {
    columns: $num;
  }

} // end @for

// For: .cols-{size}
$layout-columns-sizes: (
  3xs: 16rem,
  2xs: 18rem,
  xs:  20rem,
  sm:  24rem,
  md:  28rem,
  lg:  32rem,
  xl:  36rem,
  2xl: 42rem,
  3xl: 48rem,
  4xl: 56rem,
  5xl: 64rem,
  6xl: 72rem,
  7xl: 80rem,
  8xl: 88rem,
);
@each $size, $value in $layout-columns-sizes {

  .cols-#{$size} {
    columns: $value;
  }

} // end @each
