/**
 * LAYOUT > Container
 *
 * Utilities for fixing an element's width to the current breakpoint.
 */

.cont,
.container {
  width: 100%;

  @include media-and-up(desktop) {
    max-width: bp(desktop);
  }

  @include media-and-up(landscape) {
    max-width: bp(landscape);
  }

  @include media-and-up(portrait) {
    max-width: bp(portrait);
  }

  @include media-and-up(phone) {
    max-width: bp(phone);
  }

} // end .container
