/**
 * LAYOUT > Display
 *
 * Utilities for controlling the display box type of an element.
 */

$display-box-types:
  block inline-block inline flex inline-flex table inline-table table-caption
  table-cell table-column table-column-group table-footer-group
  table-header-group table-row-group table-row flow-root grid inline-grid
  contents list-item;

// For: .[d[isplay]-]{value}
@each $val in $display-box-types {

  .#{$val},
  .d-#{$val},
  .display-#{$val} {
    display: $val;
  }

} // end @each

// For: .d[isplay]-none / .hide / .hidden
.hide,
.hidden,
.d-none,
.display-none {
  display: none;
}
