/**
 * LAYOUT > Overflow
 *
 * Utilities for controlling how an element handles content that is too large
 * for the container.
 */

$overflow-values: auto hidden clip visible scroll;

@each $val in $overflow-values {

  .o-#{$val},
  .ov-#{$val},
  .overflow-#{$val} {
    overflow: $val;
  }

  .o-x-#{$val},
  .ov-x-#{$val},
  .overflow-x-#{$val} {
    overflow-x: $val;
  }

  .o-y-#{$val},
  .ov-y-#{$val},
  .overflow-y-#{$val} {
    overflow-y: $val;
  }

} // end @each
