/**
 * LAYOUT > Overscroll Behavior
 *
 * Utilities for controlling how the browser behaves when reaching the boundary
 * of a scrolling area.
 */

$overscroll-behavior-values: auto contain none;

@each $val in $overscroll-behavior-values {

  .os-#{$val},
  .overscroll-#{$val},
  .overscroll-behavior-#{$val} {
    overscroll-behavior: $val;
  }

  .os-x-#{$val},
  .overscroll-x-#{$val},
  .overscroll-behavior-x-#{$val} {
    overscroll-behavior-x: $val;
  }

  .os-y-#{$val},
  .overscroll-y-#{$val},
  .overscroll-behavior-y-#{$val} {
    overscroll-behavior-y: $val;
  }

} // end @each
