/**
 * LAYOUT > Placement (Top/Right/Bottom/Left)
 *
 * Utilities for controlling the placement of positioned elements.
 */

$placement-position-values: $master-sizes-map-extra;

$placement-position-types: inset 'inset-x' 'inset-y' top right bottom left;

@each $size, $val in $placement-position-values {

  @each $type in $placement-position-types {

    .#{$type}-#{$size} {

      @if (index(inset 'inset-x', $type)) {
        left: $val;
        right: $val;
      }
      @if (index(inset 'inset-y', $type)) {
        top: $val;
        bottom: $val;
      }
      @if (index(top right bottom left, $type)) {
        // e.g. bottom: 4rem
        #{$type}: $val;
      }

    } // end .{type}-{value}

  } // end @each (type)

} // end @each (value)
