/**
 * LAYOUT > Visibility
 *
 * Utilities for controlling the visibility of an element.
 */

.visible,
.visibility-visible {
  visibility: visible;
}
.invisible,
.visibility-hidden {
  visibility: hidden;
}
.collapse,
.visibility-collapse {
  visibility: collapse;
}
