/**
 * TRANSFORMS > Translate
 *
 * Utilities for translating elements with transform.
 */

$transform-translate-sizes-map: $master-sizes-map-extra;

@each $label, $value in $transform-translate-sizes-map {

  .move-x-#{$label},
  .trans-x-#{$label},
  .translate-x-#{$label},
  .transform-translate-x-#{$label} {
    transform: translateX($value);
  }

  .move-y-#{$label},
  .trans-y-#{$label},
  .translate-y-#{$label},
  .transform-translate-y-#{$label} {
    transform: translateY($value);
  }

} // end @each
