/**
 * TYPOGRAPHY > Font Variant Numeric
 *
 * Utilities for controlling the variant of numbers.
 */

$font-variant-numeric-values-map: (
  normal-nums:        normal,
  ordinal:            ordinal,
  slashed-zero:       slashed-zero,
  lining-nums:        lining-nums,
  oldstyle-nums:      oldstyle-nums,
  proportional-nums:  proportional-nums,
  tabular-nums:       tabular-nums,
  diagonal-fractions: diagonal-fractions,
  stacked-fractions:  stacked-fractions,
);

@each $class, $value in $font-variant-numeric-values-map {

  .#{$class} {
    font-variant-numeric: $value;
  }

} // end @each
