/**
 * TYPOGRAPHY > Font Weight
 *
 * Utilities for controlling the font weight of an element.
 */

$font-weights-map: (
//name        weight
  thin:       100,
  extralight: 200,
  light:      300,
  normal:     400,
  medium:     500,
  semibold:   600,
  bold:       700,
  extrabold:  800,
  black:      900,
);

@each $name, $weight in $font-weights-map {

  .fw-#{$name},
  .font-#{$name},
  .font-weight-#{$name},

  .fw-#{$weight},
  .font-#{$weight},
  .font-weight-#{$weight} {
    font-weight: $weight;
  }

} // end @each
