/**
 * TYPOGRAPHY > Line Clamp
 *
 * Utilities for visually truncating text after a fixed number of lines.
 */

$line-clamp-values: 1 2 3 4 5 6 7 8 9 10;

@each $val in $line-clamp-values {

  .lc-#{$val},
  .line-clamp-#{$val} {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $val;
  }

} // end @each

// Undo line clamp
.lc-none,
.lc-unset,
.line-clamp-none,
.line-clamp-unset {
  -webkit-line-clamp: unset;
}
