/**
 * TYPOGRAPHY > List Style Type / Position
 *
 * Utilities for controlling the style/position of bullets/numbers in lists.
 */

// List Style Types

$list-style-types-map: (
  plain:    none,
  bulleted: disc,
  numbered: decimal,
);

@each $label, $value in $list-style-types-map {

  .lst-#{$label},
  .list-#{$label},
  .list-type-#{$label},
  .list-style-#{$label},

  .lst-#{$value},
  .list-#{$value},
  .list-type-#{$value},
  .list-style-#{$value} {
    list-style-type: $value;
  }

} // end @each

// List Style Positions

$list-style-positions: inside outside;

@each $position in $list-style-positions {

  .lsp-#{$position},
  .list-#{$position},
  .list-style-#{$position},
  .list-position-#{$position} {
    list-style-position: #{$position};
  }

} // end @each
