/**
 * TYPOGRAPHY > Text Decoration Type / Color / Style / Thickness
 *
 * Utilities for controlling the decoration of text and its color, style, and
 * thickness.
 */

// Text Decoration

$text-decoration-values-map: (
  underline:    underline,
  overline:     overline,
  line-through: line-through,
  no-underline: none,
);

@each $label, $value in $text-decoration-values-map {

  .#{$label},
  .td-#{$label},
  .text-#{$label},
  .decor-#{$label},
  .text-decor-#{$label},
  .decoration-#{$label} {
    text-decoration: $value;
  }

} // end @each

// Text Decoration Color

$text-decoration-colors-map: $master-color-values-map;

@each $label, $color in $text-decoration-colors-map {

  .tdc-#{$label},
  .decor-#{$label},
  .text-decor-#{$label},
  .decoration-#{$label} {
    text-decoration-color: $color;
  }

} // end @each

// Text Decoration Style

$text-decoration-styles: solid double dotted dashed wavy;

@each $style in $text-decoration-styles {

  .tds-#{$style},
  .decor-#{$style},
  .text-decor-#{$style},
  .decoration-#{$style} {
    text-decoration-style: $style;
  }

} // end @each

// Text Decoration Thickness

$text-decoration-thicknesses: auto from-front 0 1 2 3 4 5 6 8 10;

@each $thickness in $text-decoration-thicknesses {

  .tdt-#{$thickness},
  .decor-#{$thickness},
  .text-decor-#{$thickness},
  .decoration-#{$thickness} {
    text-decoration-thickness: #{$thickness}#{if(is-alpha($thickness), '', 'px')};
  }

} // end @each
