/**
 * TYPOGRAPHY > Text Overflow
 *
 * Utilities for controlling text overflow in an element.
 */

.truncate,
.text-truncate,
.overflow-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.to-ellipsis
.text-ellipsis,
.overflow-ellipsis,
.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.to-clip,
.text-clip,
.overflow-clip,
.text-overflow-clip {
  text-overflow: clip;
}
