/**
 * TYPOGRAPHY > Word Break
 *
 * Utilities for controlling word breaks in an element.
 */

.break-normal,
.word-break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.break-word,
.break-words {
  overflow-wrap: break-word;
}

.break-all,
.word-break-all {
  word-break: break-all;
}
