header {

  .region-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1560px;

    #block-v7-branding {
      flex-basis: 100px;
    }

    #block-v7-main-menu {

      ul.menu {
        display: flex;
        flex-flow: row;
        margin-left: 20px;

        li.menu-item {
          margin-left: 20px;
        }

      } // end ul.menu

    } // end #block-v7-main-menu

    #block-v7-account-menu,
    #block-v7-anonymous-menu {
      margin-left: auto;

      ul.menu {
        display: flex;
        flex-flow: row;
        margin-left: 0;

        li.menu-item {
          margin-left: 20px;
        }

      } // end ul.menu

    } // end #block-v7-{account|anonymous|-menu

  } // end .region-header

} // end header
