// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element and expand height.
 */
html {
  box-sizing: border-box;
  height: 100%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has specificity of 0, it doesn't override `html` value,
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Ensure that admin toolbar submenus are visible above all else.
 */
.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  z-index: 2000;
}

/**
 * Ensure that all images and svgs are responsive and aren't huge.
 */
img, svg {
  max-width: 100%;
  height: auto;
}

/**
 * Basic styles for links in the page body contents.
 */
main {

  .breadcrumb,
  .nav,
  #block-spark-content {
    a {
      color: $brand-color;
      text-decoration: none;

      @include on-event {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }

  .alert a {
    color: $text-color;

    @include on-event {
      color: #000;
      text-decoration: underline;
    }
  }

} // main

/**
 * Remove under lines from any dropdown menu item links.
 */
ul.dropdown-menu li a.dropdown-item {
  text-decoration: none;
}

/**
  * Override bottom margins on form label elements.
  */
.form-label {
  font-weight: bold;
  margin-bottom: 0;

  &::after {
    content: ':';
  }

} // .form-label

/**
 * Add in missing light theme for navbar toggler icons.
 */
[data-bs-theme=light] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M2 4h20M2 12h20M2 20h20'/%3e%3c/svg%3e");
}
