/**
 * SIZING > Width, Min-Width, Max-Width
 *
 * Utilities for setting the width, minimum width, and maximum width of an
 * element.
 */

// Width
@each $size, $val in $master-sizes-map-width {

  .w-#{$size},
  .width-#{$size} {
    width: $val;
  }

} // end @each width

// Min Width
$min-width-sizes-map: (
  '0':    0px,
  'full': 100%,
  'min':  min-content,
  'max':  max-content,
  'fit':  fit-content,
);

@each $size, $val in $min-width-sizes-map {

  .min-w-#{$size},
  .min-width-#{$size} {
    min-width: $val;
  }

} // end @each min-width

// Max Width
$max-width-sizes-map: (
  '0':     0rem,
  'none':  none,
  'xs':    20rem,
  'sm':    24rem,
  'md':    28rem,
  'lg':    32rem,
  'xl':    36rem,
  '2xl':   42rem,
  '3xl':   48rem,
  '4xl':   56rem,
  '5xl':   64rem,
  '6xl':   72rem,
  '7xl':   80rem,
  '8xl':   96rem,
  'full':  100%,
  'min':   min-content,
  'max':   max-content,
  'fit':   fit-content,
  'prose': 65ch,
  'screen-sm': map-get($breakpoints, 'sm'),
  'screen-md': map-get($breakpoints, 'md'),
  'screen-lg': map-get($breakpoints, 'lg'),
  'screen-xl': map-get($breakpoints, 'xl'),
);

@each $size, $val in $max-width-sizes-map {

  .max-w-#{$size},
  .max-width-#{$size} {
    max-width: $val;
  }

} // end @each max-width
