/**
 * BORDERS > Border Radius
 *
 * Utilities for controlling the border radius of an element.
 */

$radius-sizes-map: (
  none:    0px,
  sm:      0.125rem, //  2px
  _:       0.25rem,  //  4px
  md:      0.375rem, //  6px
  lg:      0.5rem,   //  8px
  xl:      0.75rem,  // 12px
  2xl:     1rem,     // 16px
  3xl:     1.5rem,   // 24px
  full:    9999px,   // pill
  ellipse: 100%,     // oval
);

@each $size, $val in $radius-sizes-map {

  $size-suffix: suffixize($size);

  // All corners
  .rounded#{$size-suffix} {
    border-radius: $val;
  }

  // Top
  .rounded-t#{$size-suffix} {
    border-top-left-radius: $val;
    border-top-right-radius: $val;
  }

  // Bottom
  .rounded-b#{$size-suffix} {
    border-bottom-left-radius: $val;
    border-bottom-right-radius: $val;
  }

  // Left
  .rounded-l#{$size-suffix} {
    border-top-left-radius: $val;
    border-bottom-left-radius: $val;
  }

  // Right
  .rounded-r#{$size-suffix} {
    border-top-right-radius: $val;
    border-bottom-right-radius: $val;
  }

  // Top-left
  .rounded-tl#{$size-suffix} {
    border-top-left-radius: $val;
  }

  // Top-right
  .rounded-tr#{$size-suffix} {
    border-top-right-radius: $val;
  }

  // Bottom-left
  .rounded-bl#{$size-suffix} {
    border-bottom-left-radius: $val;
  }

  // Bottom right
  .rounded-br#{$size-suffix} {
    border-bottom-right-radius: $val;
  }

} // end @each size, value
