/**
 * BORDERS > Border Width
 *
 * Utilities for controlling the width of an element's borders.
 */

@each $label, $value in $border-width-values-map {

  $width: suffixize($label);

  // All sides
  .bw#{$width},
  .border#{$width} {
    border-width: $value;
  }

  // Along X axis (top, bottom)
  .bw-x#{$width},
  .border-x#{$width} {
    border-top-width: $value;
    border-bottom-width: $value;
  }

  // Along Y axis (left, right)
  .bw-y#{$width},
  .border-y#{$width} {
    border-left-width: $value;
    border-right-width: $value;
  }

  // Top
  .bw-t#{$width},
  .border-t#{$width} {
    border-top-width: $value;
  }

  // Bottom
  .bw-b#{$width},
  .border-b#{$width} {
    border-bottom-width: $value;
  }

  // Left
  .bw-l#{$width},
  .border-l#{$width} {
    border-left-width: $value;
  }

  // Right
  .bw-r#{$width},
  .border-r#{$width} {
    border-right-width: $value;
  }

} // end @each
