/**
 * BACKGROUNDS > Background Repeat
 *
 * Utilities for controlling the repetition of an element's background image.
 */

$bg-repeat-values-map: (
  repeat:       repeat,
  no-repeat:    no-repeat,
  repeat-x:     repeat-x,
  repeat-y:     repeat-y,
  repeat-round: round,
  repeat-space: space,
);

@each $label, $value in $bg-repeat-values-map {

  .bg-#{$label},
  .background-#{$label} {
    background-repeat: $value;
  }

} // end @each
