/**
 * TRANSITIONS & ANIMATION > Transition Timing Function
 *
 * Utilities for controlling the easing of CSS transitions.
 */

$transition-ease-types: (
  linear: linear,
  in:     cubic-bezier(0.4, 0, 1,   1),
  out:    cubic-bezier(0,   0, 0.2, 1),
  in-out: cubic-bezier(0.4, 0, 0.2, 1),
);

@each $type, $value in $transition-ease-types {

  .ease-#{$type},
  .trans-ease-#{$type},
  .transition-ease-#{$type} {
    transition-timing-function: #{$value};
  }

} // end @each
