/**
 * TRANSITIONS & ANIMATION > Transition Property
 *
 * Utilities for controlling which CSS properties transition.
 */

$transition-properties-map: (
  all:       'all',
  _:         'color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter',
  colors:    'color, background-color, border-color, text-decoration-color, fill, stroke',
  opacity:   'opacity',
  shadow:    'box-shadow',
  transform: 'transform',
);

.trans-none,
.transition-none {
  transition-property: none;
}

@each $label, $prop in $transition-properties-map {

  $label-suffix: suffixize($label);

  .trans#{$label-suffix},
  .transition#{$label-suffix} {
    transition-property: unquote($prop);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

} // end @each
